@use "sass:color";

// Our variables
$base-font-family: "Open Sans", helvetica, arial, sans-serif;
$base-font-size: 14px;
$heading-font-family: "Open Sans Condensed", helvetica, arial, sans-serif;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit: 30px;
$background-color: #fdfdfd;
$text-color: #1a1a1a;
$name-color: #172c37;
$nickname-color: color.adjust($name-color, $lightness: 75%);
$sub-title-color: #7fbee9;
$link-color: color.adjust($text-color, $lightness: 65%);
$brand-color: #5aa7dc;
$brand-color-light: color.adjust($brand-color, $lightness: 10%);
$brand-color-dark: color.adjust($brand-color, $lightness: -10%);
$grey-color: #828282;
$grey-color-light: color.adjust($grey-color, $lightness: 40%);
$grey-color-dark: color.adjust($grey-color, $lightness: -25%);
