:root {
  --base-font-family: var(--font-open-sans);
  --base-font-size: 14px;
  --heading-font-family: var(--font-open-sans);
  --small-font-size: 12.25px;
  --base-line-height: 1.5;
  --spacing-unit: 30px;
  --background-color: #fdfdfd;
  --text-color: #1a1a1a;
  --name-color: #172c37;
  --nickname-color: #dce9f0;
  --sub-title-color: #7fbee9;
  --link-color: #c0c0c0;
  --brand-color: #5aa7dc;
  --brand-color-light: #84bde5;
  --brand-color-dark: #3091d3;
  --grey-color: #828282;
  --grey-color-light: #e8e8e8;
  --grey-color-dark: #424242;
}

@supports (color: hsl(from white h s l)) {
  :root {
    --nickname-color: hsl(from var(--name-color) h s calc(l + 75));
    --link-color: hsl(from var(--text-color) h s calc(l + 65));
    --brand-color-light: hsl(from var(--brand-color) h s calc(l + 10));
    --brand-color-dark: hsl(from var(--brand-color) h s calc(l - 10));
    --grey-color-light: hsl(from var(--grey-color) h s calc(l + 40));
    --grey-color-dark: hsl(from var(--grey-color) h s calc(l - 25));
  }
}
